.logo {
    margin-right: 0px;
}
.bg-custom {
    background-color: #231f1e
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#231f1e;
    color: white;
    text-align: center;
    border-top: 0.3rem solid #221f1d !important;
 }

.border-primary {
    border-color: #007bff !important;
}
