.logo {
    margin-right: 0px;
}
.bg-custom {
    background-color: #231f1e
}
.mapa {
    width:350px;
    height:350px;
}
.centrar {
    margin-left:auto;
    margin-right:auto;
}

.index-logo {
    height:auto;
    max-width:40%;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
}

.border-primary {
    border-color: #007bff !important;
}

.titulo {
    font-size: 3rem;
}
small {
    font-size: 2rem;
}