{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-custom m-r-0">
	<a class="navbar-brand logo" href="#">
		<img width="200" height="68" src="{% static 'logos/logo-unab.png' %}" alt="">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbar">
	  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
		<li class="nav-item active">
		  <a class="nav-link align-bottom" href="#">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link align-bottom" href="#">Nosotros</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Servicios
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Servicio 1</a>
				<a class="dropdown-item" href="#">Servicio 2</a>
				<a class="dropdown-item" href="#">Servicio 3</a>
			</div>
		</li>
		<li class="nav-item">
		  <a class="nav-link align-bottom" href="{% url 'contactos' %}">Contactos</a>
		</li>
	  </ul>
	</div>
  </nav>